
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

body {
    background-color: #393e49;
    /* overflow: hidden; */
}

body.light-mode {
    background-color: #eeeeee
}

h1 {
    margin: 10px;
}

body.light-mode h1 {
    color: #494949;
}

h2 {
    text-align: center;
    font-size: 18px;
}

body.light-mode h2 {
    color: #494949;
}

h3 {
    font-size: 12px;
    /* color: #ffffff; */
}

body.light-mode h3 {
    color:#696969
}

i {
    margin-right: 5px;
    /* color: #ffffff */
}

body.light-mode i {
    color: #494949
}



header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #191e2b;
    padding: 15px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

body.light-mode header {
    background-color: #d3d3d3
}

main {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100vh;
}

.meme-editor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    flex-grow: 1;
}

.meme-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.meme-box-text {
    background-color: white;
    padding: 15px;
    font-size: 40px;
    color: black;
    text-align: center;
}

.meme-placeholder {
    background-color: black;
    height: 30vh;
}

aside {
    background-color: #252935;
}

aside button {
    background-color: #393e49;
}

body.light-mode aside {
    background-color: #fafafa;
}

body.light-mode aside div {
    background-color: #fafafa;
}

body.light-mode aside section {
    background-color: #fafafa;
}


.contenedor-menu-imagen {
    position: relative;
    left: 89%;
    bottom: 102vh;
}

.download-button {
    background-color: green;
    color:white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-top: 40px;
}

.fa-download {
    color:white;
}

.panel {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: #191e2b; ;
    padding: 20px;
    height: 100vh;
}

.button-header {
    border: none;
    background-color: #191e2b;
    padding: 5px;
}

body.light-mode header button {
    background-color: #d3d3d3;
    color: #494949
}

#dark-mode-button {
    background-color: #191e2b;
}

#light-mode-button {
    background-color: #d3d3d3;
    display: none;
}

label {
    font-size: 10px;

}

input {
    background-color: #393e49;
    border:none;
    border-radius: 5px;
    width: 160px;
    margin:10px 0px;
}

select {
    background-color: #393e49;
    color: 
}

body.light-mode input, body.light-mode select, body.light-mode textarea {
    background-color: #e0e0e0;
    color: #494949
}

input[type="range"] {
    height: 6px;
    border-radius: 10px;
    background-color: #5a5d68;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: #e0e0e0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

body.light-mode input[type="range"]::-webkit-slider-thumb {
    background-color:  #5a5d68;
}

body.light-mode input[type="range"] {
    background-color: #5a5d68;
}

